/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
    background: #4b4545;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 5px;
}
