/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
    background: #4b4545;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 5px;
}

.dark .loader {
    width: 20px;
    height: 21px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 5px solid;
    box-sizing: border-box;
    animation: animloader-dark 1s linear infinite alternate;
}
@keyframes animloader-dark {
    0% {
        border-color: #1D2023 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
        border-color: #1D2023 #1D2023 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
        border-color: #1D2023 #1D2023 #1D2023 rgba(255, 255, 255, 0);
    }
    100% {
        border-color: #1D2023 #1D2023 #1D2023 #1D2023;
    }
}

.loader {
    width: 20px;
    height: 21px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 5px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
    0% {
        border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
        border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
        border-color: white white white rgba(255, 255, 255, 0);
    }
    100% {
        border-color: white white white white;
    }
}